<a href="https://colab.research.google.com/github/Leosudip/machine-learning/blob/main/credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
credit_card_data=pd.read_csv('/content/creditcard.csv')
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
credit_card_data.info()

In [ ]:
credit_card_data.isnull().sum()

In [12]:
credit_card_data['Class'].value_counts()

0.0    9926
1.0      38
Name: Class, dtype: int64

In [13]:
legit=credit_card_data[credit_card_data.Class == 0]
fraud=credit_card_data[credit_card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(9926, 31)
(38, 31)

In [16]:
legit.Amount.describe()

count    9926.000000
mean       62.919501
std       184.041297
min         0.000000
25%         5.172500
50%        15.950000
75%        51.067500
max      7712.430000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count      38.000000
mean       75.730526
std       304.521215
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
credit_card_data.groupby('Class').mean()

              Time        V1        V2  ...       V27       V28     Amount
Class                                   ...
0.0    5921.607697 -0.235577  0.266833  ...  0.003624  0.001701  62.919501
1.0    9063.157895 -1.796662  3.810809  ...  0.525443  0.355663  75.730526

[2 rows x 30 columns]

In [19]:
legit_sample=legit.sample(n=38)

In [20]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [21]:
new_dataset.head()

       Time        V1        V2        V3  ...       V27       V28  Amount  Class
7564  10421  1.275779  0.152778  0.761571  ... -0.091100  0.006535    8.10    0.0
4215   3752  1.301750 -0.580228  0.743971  ... -0.018599  0.000658   12.00    0.0
8843  12094  1.120380 -0.248450  0.737945  ... -0.105529  0.007477   68.60    0.0
2899   2440  1.353861 -0.032020 -0.231381  ...  0.038569  0.012427    1.00    0.0
9665  14454 -0.500514  0.486128  2.171837  ... -0.094177 -0.040801   14.95    0.0

[5 rows x 31 columns]

In [23]:
new_dataset['Class'].value_counts()

1.0    38
0.0    38
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

In [26]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [29]:
model=LogisticRegression()

In [31]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [34]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [33]:
print("Accuracy on training data :",training_data_accuracy)

Accuracy on training data : 1.0

In [35]:
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)
print("Accuracy on test data :",testing_data_accuracy)

Accuracy on test data : 0.9375