<a href="https://colab.research.google.com/github/Leosudip/machine-learning/blob/main/Spam_mail_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [ ]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
mail_data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [ ]:
mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [ ]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [ ]:
y=mail_data['Category']
x=mail_data['Message']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [ ]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [ ]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

In [ ]:
x_train_feature=feature_extraction.fit_transform(x_train)
x_test_feature=feature_extraction.transform(x_test)

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [ ]:
print(x_train_feature)

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(x_train_feature, y_train)

LogisticRegression()

In [ ]:
prediction_on_training_data=model.predict(x_train_feature)
accuracy_on_training_data=accuracy_score(y_train, prediction_on_training_data)
print('Accuracy on training data is: ', accuracy_on_training_data)

Accuracy on training data is:  0.9670181736594121

In [ ]:
prediction_on_test_data=model.predict(x_test_feature)
accuracy_on_test_data=accuracy_score(y_test, prediction_on_test_data)
print('Accuracy on test data is: ', accuracy_on_test_data)

Accuracy on test data is:  0.9659192825112107

In [ ]:
input_mail=["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]
input_feature_mail=feature_extraction.transform(input_mail)
prediction=model.predict(input_feature_mail)
if prediction==1:
  print('Ham Mail')
else:
  print('Spam Mail')

Spam Mail